:root{
    --resaltado: #008080;
    --text-color: #53575a;
    --body-bg:#FAFDFF;
    --dark-color-alt:#141618;
    --dark-color:#282D31;
    --thir-color-rgba:rgba(47,79,79,.2);
    --text-parrafo: Verdana, Geneva, Tahoma, sans-serif;

    background: var(--body-bg);
}

.titulo{
    font-size: 70px;
    position: relative; 
}

.subtitulo{

    text-transform: none !important;
    font-size: 70px !important; 
    text-align: left !important;
    width: 100%;
    
}

.parrafo{
    font-size: 32px !important;
    text-align: left;
    width: 100%;
    box-shadow: 0px 0px 0px var(--thir-color-rgba) inset;
    transition: all 3s !important;
    
}

.parrafo li:hover{
    box-shadow: 1500px 0px 0px var(--thir-color-rgba) inset; 
}

.btn{
    text-decoration: none;
    line-clamp: 4;
    padding: 4px;
    color: #6a6a6a !important;
    position: relative;
    color: var(--resaltado) !important;
    box-shadow: 0px 0px 0px var(--thir-color-rgba) inset;
    transition: all 3s !important;
}

.btn:before{
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background:var(--resaltado) !important;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s !important;
    
}

.btn:hover{
    box-shadow: 1500px 0px 0px var(--thir-color-rgba) inset; 
}

.btn:hover:before{
    width: 100%;
}

.targeta{
    width: 100%;
    height: 90%;
}

.efecto3d{
    width: 100%;
    margin: auto;
}

.efecto_columna{
    width: 90%;
    height: 350px;
    position: relative;
    text-align: center !important;
    transform-style: preserve-3d;
    transition: .7s ease;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, .65);
}

.contenedor{
    margin: 10px;
    perspective: 800;
    text-align: center;
    padding-left: 10%;
    box-sizing:border-box;
}

.container {
    display: flex;
    perspective: 800;
    position: relative;
}	

.adelante,.atras{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.atras{
    background: #f1f1f1;
    transform: rotateY(180deg);
    box-sizing:border-box;
    padding-top: 50px;
}

.contenedor:hover .efecto_columna{
    transform: rotateY(180deg);
}

.sociales p{
    font-size: 40px;
}

.resaltar{

    font-size: 40px !important;
    text-align: left;
    width: 100%;
    box-shadow: 0px 0px 0px  rgba(0, 0, 0, .65) inset;
    transition: all 1s !important;

}

.resaltar:hover{
    font-size: 70px !important;
    box-shadow: 1500px 0px 0px var(--thir-color-rgba) inset;
}

.foto{
    width: 50%;
    transition: all 2s;
    position: relative;
}

.tarjeta{
    background-color: #34495e;
    width: 40%;
    text-align:justify; 
    padding: 20px 10px;
    border-radius: 5px; 
    box-shadow: 10px 10px 5px  rgba(0, 0, 0, .65);
    color: #fff;
}
